
.navbar-container
{
  background-image: -webkit-gradient(linear, left top, right top, from(#9f78ff), to(#32cafe));
  background-image: -webkit-linear-gradient(left, #9f78ff, #32cafe);
  background-image:    -moz-linear-gradient(left, #9f78ff, #32cafe);
  background-image:      -o-linear-gradient(left, #9f78ff, #32cafe);
  background-image:         linear-gradient(to right, #9f78ff, #32cafe);
  background-repeat: repeat-x;
  height: 180px;
  opacity: 75%;
box-shadow: 24px 23px 93px -25px #423a3a;

}

.icon-v-all{
  width: 14%;
  vertical-align: unset!important;
  cursor: pointer;
  margin-left: 80%;
  margin-top: 7px;
}
#button{
  font-weight: 700;
  padding: 13px 12px;
  border-radius: 12px;
  font-size: 17px;
  margin-left: 94%;
  margin-top: -62px;
  background-color: #ff3030;
  cursor: pointer;
  font-family: none;
  border: 2px solid #d40808;
}

.navbar-title{
  text-align: center;
  margin-top: -3.6%;
  color: white;
}

.welcome-letter{
  font-size: x-large;
  color: black;
  padding-left: 1%;

}

.img-position {
  width: 7%;
  margin-top: -3%;
  margin-left: 2%;
  margin-bottom: 0.5%;
}
