<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
  <div class="navbar-wrapper">
    <div class="navbar-container content">
      <div class="collapse navbar-collapse show" id="navbar-mobile">
        <div class="icon-v-all" (click)="openSettingModal()">
          <img class="icon-v-all" src="assets/gear.svg"/>
        </div>
        <button  class="btn btn-info text-center" id="button" (click)="logOut()">Çıkış Yap
        </button>
        <h2 class="navbar-title">{{poemName}}</h2>

      </div>
    </div>
  </div>
</nav>
