
<nav  class="navbar navbar-default navbar-shrink">
  <div class="container">
    <div class="navbar-header page-scroll" >
      <img [routerLink]="['/']"  class="img-position" src="../../../assets/logo1.png">

    </div>
    <div class="input-group mb-3 ">
      <input [(ngModel)]="searchText" type="text" class="form-control search-poem"  placeholder="Şiir ara..." aria-label="Şiir ara..." aria-describedby="basic-addon2">

        <button (click)="search()" class="btn btn-outline-secondary button-style" type="button" ><img class="icon" src="../../../assets/search%20(1).svg"></button>
      <a [routerLink]="['/admin/login-page']" class="btn btn-info text-center" id="button" >Giriş Yap
      </a>

    </div>
  </div>
</nav>
