<div class="all-view">
  <div class="line-full"><span class="view-content-title">Kategoriler</span></div>
  <section class="section">
    <div class="grid">
      <div class="item item--medium" (click)="routeAllPoem(category.id, category.categoryName)" [ngStyle]="{'background-image':'url('+category.pictureLink+')'}" *ngFor="let category of categoryData" >
        <div class="row active-with-click">
          <article [ngClass]="materialCardClass">
            <span class="h3-before">
              <span>{{category.categoryName}}</span>
            </span>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
