<div class="all-view">
  <div class="half-circle"></div>
  <div class="half-circle view-all-circle"></div>
  <div class="line-full"><span class="view-content-title">Şiirler</span></div>
  <div class="add-button">+</div>
  <div class="add-button view-all"><img class="icon-v-all" src="assets/search.svg"/></div>
    <section class="section">
      <div class="grid">
        <div class="item item--medium" (mouseover)="activeClass()">
            <div class="row active-with-click" *ngIf="visibleCard">
                <article (mouseleave)="passiveClass()" [ngClass]="materialCardClass">
                  <h2>
                    <span>Christopher Walken</span>
                    <strong>
                      <i class="fa fa-fw fa-star"></i>
                      The Deer Hunter
                    </strong>
                  </h2>
                  <div class="mc-content">
                    <div class="img-container">
                      <img class="img-responsive"
                           src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
                    </div>
                    <div class="mc-description">
                      He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The
                      Prophecy trilogy, The Dogs of War ...
                      <h4>
                        Social
                      </h4>
                    </div>
                  </div>
                  <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                  </a>
                </article>

            </div>
            <div class="row active-with-click" *ngIf="!visibleCard">
                <article [ngClass]="materialCardClass">
                  <h2 class="h2-before">
                    <span>Christopher Walken</span>
                    <strong>
                      <i class="fa fa-fw fa-star"></i>
                      The Deer Hunter
                    </strong>
                  </h2>
                </article>
            </div>
          <div class="item__details">
            <div style="width: 90%">
            <img class="other-icon" src="assets/view.svg"/>

              <img class="other-icon" src="assets/edit.svg"/>
            <img class="other-icon" src="assets/delete.svg"/>
            </div>
          </div>
        </div>
        <div class="item item--medium" (mouseover)="activeClass()">
          <div class="row active-with-click" *ngIf="visibleCard">
            <article (mouseleave)="passiveClass()" [ngClass]="materialCardClass">
              <h2>
                <span>Christopher Walken</span>
                <strong>
                  <i class="fa fa-fw fa-star"></i>
                  The Deer Hunter
                </strong>
              </h2>
              <div class="mc-content">
                <div class="img-container">
                  <img class="img-responsive"
                       src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                  He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The
                  Prophecy trilogy, The Dogs of War ...
                  <h4>
                    Social
                  </h4>
                </div>
              </div>
              <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
              </a>
            </article>

          </div>
          <div class="row active-with-click" *ngIf="!visibleCard">
            <article [ngClass]="materialCardClass">
              <h2 class="h2-before">
                <span>Christopher Walken</span>
                <strong>
                  <i class="fa fa-fw fa-star"></i>
                  The Deer Hunter
                </strong>
              </h2>
            </article>
          </div>
          <div class="item__details">
            <div style="width: 90%">
              <img class="other-icon" src="assets/view.svg"/>
              <img class="other-icon" src="assets/edit.svg"/>
              <img class="other-icon" src="assets/delete.svg"/>
            </div>
          </div>
        </div>

        <div class="item item--medium" (mouseover)="activeClass()">
          <div class="row active-with-click" *ngIf="visibleCard">
            <article (mouseleave)="passiveClass()" [ngClass]="materialCardClass">
              <h2>
                <span>Christopher Walken</span>
                <strong>
                  <i class="fa fa-fw fa-star"></i>
                  The Deer Hunter
                </strong>
              </h2>
              <div class="mc-content">
                <div class="img-container">
                  <img class="img-responsive"
                       src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
                </div>
                <div class="mc-description">
                  He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The
                  Prophecy trilogy, The Dogs of War ...
                  <h4>
                    Social
                  </h4>
                </div>
              </div>
              <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
              </a>
            </article>

          </div>
          <div class="row active-with-click" *ngIf="!visibleCard">
            <article [ngClass]="materialCardClass">
              <h2 class="h2-before">
                <span>Christopher Walken</span>
                <strong>
                  <i class="fa fa-fw fa-star"></i>
                  The Deer Hunter
                </strong>
              </h2>
            </article>
          </div>
          <div class="item__details">
            <div style="width: 90%">
              <img class="other-icon" src="assets/view.svg"/>
              <img class="other-icon" src="assets/edit.svg"/>
              <img class="other-icon" src="assets/delete.svg"/>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<div class="all-view">
  <div class="half-circle"></div>
  <div class="half-circle view-all-circle"></div>
  <div class="line-full"><span class="view-content-title">Kategoriler</span></div>
  <div class="add-button">+</div>
  <div class="add-button view-all"><img class="icon-v-all" src="assets/search.svg"/></div>
  <section class="section">
    <div class="grid">
      <div class="item item--medium" (mouseover)="activeClass()">
        <div class="row active-with-click" *ngIf="visibleCard">
          <article (mouseleave)="passiveClass()" [ngClass]="materialCardClass">
            <h2>
              <span>Christopher Walken</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive"
                     src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
              </div>
              <div class="mc-description">
                He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The
                Prophecy trilogy, The Dogs of War ...
                <h4>
                  Social
                </h4>
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>

        </div>
        <div class="row active-with-click" *ngIf="!visibleCard">
          <article [ngClass]="materialCardClass">
            <h2 class="h2-before">
              <span>Christopher Walken</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>
            </h2>
          </article>
        </div>
        <div class="item__details">
          <div style="width: 90%">
            <img class="other-icon" src="assets/view.svg"/>
            <img class="other-icon" src="assets/edit.svg"/>
            <img class="other-icon" src="assets/delete.svg"/>
          </div>
        </div>
      </div>
      <div class="item item--medium" (mouseover)="activeClass()">
        <div class="row active-with-click" *ngIf="visibleCard">
          <article (mouseleave)="passiveClass()" [ngClass]="materialCardClass">
            <h2>
              <span>Christopher Walken</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive"
                     src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
              </div>
              <div class="mc-description">
                He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The
                Prophecy trilogy, The Dogs of War ...
                <h4>
                  Social
                </h4>
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>

        </div>
        <div class="row active-with-click" *ngIf="!visibleCard">
          <article [ngClass]="materialCardClass">
            <h2 class="h2-before">
              <span>Christopher Walken</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>
            </h2>
          </article>
        </div>
        <div class="item__details">
          <div style="width: 90%">
            <img class="other-icon" src="assets/view.svg"/>
            <img class="other-icon" src="assets/edit.svg"/>
            <img class="other-icon" src="assets/delete.svg"/>
          </div>
        </div>
      </div>
      <div class="item item--medium" (mouseover)="activeClass()">
        <div class="row active-with-click" *ngIf="visibleCard">
          <article (mouseleave)="passiveClass()" [ngClass]="materialCardClass">
            <h2>
              <span>Christopher Walken</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive"
                     src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
              </div>
              <div class="mc-description">
                He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The
                Prophecy trilogy, The Dogs of War ...
                <h4>
                  Social
                </h4>
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>

        </div>
        <div class="row active-with-click" *ngIf="!visibleCard">
          <article [ngClass]="materialCardClass">
            <h2 class="h2-before">
              <span>Christopher Walken</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                The Deer Hunter
              </strong>
            </h2>
          </article>
        </div>
        <div class="item__details">
          <div style="width: 90%">
            <img class="other-icon" src="assets/view.svg"/>
            <img class="other-icon" src="assets/edit.svg"/>
            <img class="other-icon" src="assets/delete.svg"/>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
<main id="logout-button-holder">
  <button mat-raised-button id="logout-button" (click)="openModal()">Logout</button>
</main>
