.icon-v-all{
  width: 14%;
  vertical-align: unset!important;
  cursor: pointer;
  margin-left: 80%;
  margin-top: 7px;
}
#button{
  font-weight: 700;
  padding: 13px 12px;
  border-radius: 12px;
  font-size: 16px;
  margin-left: 94%;
  margin-top: -62px;
  background-color: red;
  cursor: pointer;
}
.icon{
  width: 1%;
  margin-left: -25px;

}

.position{
  margin-inline-start: 35%;
}
