<div style="background-color: #00b0ff;color: white; font-size: 10px">
  <div *ngFor="let message of errorMessages">
    <p>{{message}}</p>
  </div>
</div>
<input placeholder="Cevap yaz..." [(ngModel)]="answer"/>
<div style="border: solid 1px purple">
  <div *ngFor="let comment of comments">
    <p style="background-color: lightgrey; font-size: 12px">{{comment.comment}}</p>
    <p style="background-color: lightgrey; font-size: 12px">{{comment.interpreter}}</p>
    <p style="background-color: lightgrey; font-size: 12px">{{comment.date}}</p>
  </div>
</div>
<button mat-raised-button (click)="close()">Kapat</button>
<button mat-raised-button (click)="doComment()">Gönder</button>
