<app-navbar-admin *ngIf="allPoemsStatus==1 || allPoemsStatus==3"></app-navbar-admin>
<div class="input-group mb-3 " >
  <input type="text" class="form-control position" [(ngModel)]="searchText" placeholder="Şiir ara..." aria-label="Şiir ara..." aria-describedby="basic-addon2">
  <button (click)="getPoemBySearch()" class="btn btn-outline-secondary icon" type="button" ><img  src="../../../assets/search%20(1).svg"></button>

</div>

<div class="all-view">
  <div class="half-circle">
  </div>
  <div class="half-circle view-all-circle" *ngIf="allPoemsStatus==2"></div>
  <div class="line-full" ><span class="view-content-title">Şiirler</span></div>

  <div class="add-button" (click)="addPoem()" >+</div>

  <div class="add-button view-all" *ngIf="allPoemsStatus==2" (click)="viewAllPoems()"><img class="icon-v-all" src="assets/search.svg"/>

  </div>


  <section class="section" [ngStyle]="{'grid-auto-columns':poemData.length<3? '40%':'auto','width':poemData.length<3? '40%':''}">
    <div class="grid">
      <div class="item item--medium"  (click)="readPoem(poem.id)"
           [ngStyle]="{'background-image':'url('+poem.pictureLink+')'}" *ngFor="let poem of poemData"
           (mouseleave)="poemId=0" (mouseover)="poemId=poem.id">
        <div class="row active-with-click" *ngIf="poem.id === poemId ">
          <article [ngClass]="classControl(poem.id)">
            <h2>
              <span>{{poem.title}}</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                {{poem.date}}
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive imageRes"
                     src="{{poem.pictureLink}}">
              </div>
              <div class="mc-description">
                {{poem.poemDetail | slice:0:90}}...
                <h4>
                  {{poem.writer}}
                </h4>
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>

        </div>
        <div class="row active-with-click" *ngIf="poem.id !== poemId ">
          <article [ngClass]="classControl(poem.id)">
            <h2 class="h2-before">
              <span>{{poem.title}}</span>
              <strong>
                <i class="fa fa-fw fa-star"></i>
                {{poem.date}}
              </strong>
            </h2>
          </article>
        </div>
        <div>
        <div class="item__details" >
          <div class="open-modal">
            <img class="other-icon" (click)="openCommentModal(poem.id,$event)" src="assets/view.svg"/>
            <img class="other-icon" (click)="openEditModal(poem.id,$event)" src="assets/edit.svg"/>
            <img class="other-icon" (click)="openDeleteModal(poem.id,$event)" src="assets/delete.svg"/>

          </div></div>
        </div>
      </div>
    </div>
  </section>
  <app-all-poem *ngIf="poemData.length<1"></app-all-poem>

</div>
