<app-navigation-bar></app-navigation-bar>
<app-header [navbarType]="true" [bigText]="title"></app-header>

<div class="container">
  <div class="poem-detail">
    <p>{{date | date: dateFormat}}</p>
    <p>{{poemDetail}}</p>
    <p>{{writer}}</p>
    <div style="background-color: #00b0ff;color: white; font-size: 10px">
      <div *ngFor="let message of errorMessages">
        <p>{{message}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <section class="chat">
      <div class="footer-chat">
        <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
        <textarea type="text" class="write-message" [(ngModel)]="newComment" placeholder="Yorum yazınız...."></textarea><br>
        <input type="text" class="write-message1" [(ngModel)]="interpreter" placeholder="Adınızı yazınız...."/>
        <i class="icon send fa fa-paper-plane-o clickable" (click)="doComment()" aria-hidden="true">Gönder</i>
      </div>
      <div class="messages-chat">
        <div class="message" *ngFor="let comment of comments">
          <div class="photo" style="background-image: url(assets/poem8.jpeg);">
            <div class="online"></div>
          </div>
          <p class="text"><b class="time">{{comment.date | date: dateFormat}}</b><br/>{{comment.comment}}</p>

          <b class="time">{{comment.interpreter}}</b>

        </div>
      </div>

    </section>
  </div>
</div>
